.well legend{
	border:0;
	margin-bottom:0;
}

.well legend+.control-group{
	margin-top:0;
}

.locked{
	padding-top:5px;
}

.padding-left{
    padding-left: 20px;
}

.radio-inline,
.checkbox-inline{
	margin-bottom: 6px;
	padding: 6px 6px 6px 24px;
	border-radius: 5px;
}

.list-category-item{
    display:table;
    border-radius: 5px;
}

.list-category-item label{
    padding: 6px 6px 2px 6px;
}

.radio.list-category-item label,
.checkbox.list-category-item label{
    display: block;
}

span.required{
    font-weight: bold;
    color: #A94442;
}